.taskBox {
  justify-content: center;
  align-items: center;
  margin: 100px;
  margin-top: 100px;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.6);
  width: fit-content;
  border-radius: 20px;
}

.datePickerBox{
  margin-left: 50px;
  padding-bottom: 10px;  
  gap: 10px;
  display: flex;
  align-items: left;
  justify-content: left;
}

.accordionStyle {
  margin: 30px;
  border-radius: 40px;

}

.signUpBox {
  padding: 30px;
  width: fit-content;
  height: fit-content;
  border-radius: 20px;
  background-color: white;
  margin: 20px;
  color: black;

}