:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} 

 a {
  font-weight: 500;
  color: #242eba;
  text-decoration: inherit;
}
a:hover {
  color: #121aea;
}

body, html{
  height: 100%;
}


/* button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
} */

/* h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
button:hover {
  border-color: #08091d;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
} */

@media (prefers-color-scheme: light) {
  :root {
    background-image: url('/src/images/woman-8587090.png');
    height: 1000px;
    width: 1905px;
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
  }
 
}

.image {
 background-size: cover;
 background-position: center;

  background-image: url('/src/images/taskTable.jpg');
      
}